.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: 100px;

}

header{
    grid-column:1/5;
    grid-row: 1;
    background-color: grey;
}
section{
    grid-column:1/5;
    grid-row:2;
    background-color: blueviolet;


}
article{
    grid-column: 1/4;
    grid-row:3;
    background-color: grey;
}
aside{
    grid-color: 4/5;
    grid-row: 3;
    background-color: grey;
}
footer {
    grid-column: 1/5;
    grid-row: 4;
    background-color: grey;
}
